
	# This is configuration file for P3. http://github.com/kristiyanto/p3
	#
	# MAXWAIT = 10800 # 	Optional. How long the container will wait for other containers 
	# 						to finish when multiple containers are running concurrently. 
	# 
	[SOURCE]
	# REPO = LOCAL/FTP/PRIDE
	REPO = LOCAL
	# If REPO = FTP, at least FTP_1 is required.
	# e.g: 
	# FTP_1 = ftp://massive.ucsd.edu/MSV000079527/sequence/ 
	# FTP_2 = ftp://massive.ucsd.edu/MSV000079527/peak/mgf/
	FTP_1 = ftp://massive.ucsd.edu/MSV000079527/sequence/
	FTP_2 = ftp://massive.ucsd.edu/MSV000079527/peak/mgf/
	# if REPO = PRIDEID, PRIDEID must be defined
	# e.g 
	# PRIDEID = PXD000001
	PRIDEID = 
	
	[MSGF]
	# RUN_MSGF = YES / NO ; if NO, MSGF identification will be skipped.
	# e.g:
	# RUN_MSGF = YES
	RUN_MSGF = YES
	# MSGF_OPTIONS: OPTIONAL. Additional options for identification other than -s -d and -o
	# Check https://omics.pnl.gov/software/ms-gf for more detail
	# e.g

	# <C:\Program Files\Java\jre8\bin\java.exe>  -Xmx4000M -jar C:\DMS_Programs\MSGFDB\MSGFPlus.jar 
	-s TCGA_13-1489_42-2590_36-2529_117C_W_PNNL_B2S5_f11_dta.txt 
	-t 20ppm 
	-m 0 
	-inst 1 
	-e 1 
	-ti -1,2 
	-ntt 2 
	-tda 1 
	-minLength 6 
	-maxLength 50 
	-minCharge 2 
	-maxCharge 5 
	-n 1 
	-thread 7 
	-mod MSGFDB_Mods.txt 
	-minNumPeaks 5 
	-addFeatures 1
	

	
	[QUANTIFICATION]
	# METHOD = SPECTRUM_COUNT / ITRAQ4 / NONE 
	# If "NONE", quantification will not be run.
	# e.g
	METHOD = ITRAQ4
	
	[SPECTRUM_COUNT]
	# Ignored if QUANTIFICATION METHOD is not SPECTRUM_COUNT
	# If left blank will be replaced with default
	# Please check documentation for more detail
	SCORE_TRESHOLD = 7.0
	ERROR_TRESHOLD = 20
	FDR = 0.01
	ITERATION = 5000
	
	[ITRAQ4]
	# Ignored if QUANTIFICATION METHOD is not ITRAQ4
	# If left blank will be replaced with default
	# Please check documentation for more detail
	EVALUE_TRESHOLD = 1e-10
	# Filtering of Spectra which lack of reporter ion values. pNA = 0 will remove any spectrums with null values in any channels
	pNA = 0
	# QUANTIFICATION_METHOD: / trapezoidation / max / sum / SI / SIgi / SIn / SAF / NSAF / count 
	# *CASE SENSITIVE* 
	QUANTIFICATION_METHOD = max
	# COMBINE_BY: / mean / median / weighted.mean / sum / medpolish
	COMBINE_BY = mean
	