## Configuration file

## GLOBAL CONFIG
## Input: .fasta and Spectrum files (mzML, etc)
## File locations. Windows should be under /C/Users/ on Mac should be under /Users
root_dir /Users/Daniel/Desktop/tcga

## Should the files downloaded from FTP? 
ftp_mode NO

# (Only required on FTP mode)
# ftp_addr ftp://url
# ftp_addr ftp://url

## STEP 1: IDENTIFICATION
## Specify number of concurrent containers
thread 2

## STEP 2: FILTERING
score_treshold 7.0
error_treshold 20
fdr 0.01
iteration 5000

## STEP 3: QUANTIFICATION
## iTRAQ is used for Labelled Quantification
## Spectrum Count is used for Label-Free Quantification
labelled YES

