
	# This is configuration file for P3. http://github.com/kristiyanto/p3
		
	[SOURCE]
	MAXWAIT = 10

	# REPO = LOCAL/FTP/PRIDEID
	REPO = LOCAL
	# If REPO = FTP, at least FTP_1 is required.
	# e.g: 
	# FTP_1 = ftp://massive.ucsd.edu/MSV000079527/sequence/ 
	# FTP_2 = ftp://massive.ucsd.edu/MSV000079527/peak/mgf/
	FTP_1 = ftp://massive.ucsd.edu/MSV000079527/sequence/
	FTP_2 = ftp://massive.ucsd.edu/MSV000079527/peak/mgf/
	# if REPO = PRIDEID, PRIDEID must be defined
	# e.g 
	# PRIDEID = PXD000001
	PRIDEID = 
	
	[MSGF]
	# RUN_MSGF = YES / NO ; if NO, MSGF identification will be skipped.
	# e.g:
	# RUN_MSGF = YES
	RUN_MSGF = YES
	# MSGF_OPTIONS: OPTIONAL. Additional options for identification other than -s -d and -o
	# Check https://omics.pnl.gov/software/ms-gf for more detail
	# e.g
	# MSGF_OPTIONS = -t 2.5Da
	
	[QUANTIFICATION]
	# METHOD = SPECTRUM_COUNT / ITRAQ4 / NONE 
	# If "NONE", quantification will not be run.
	# e.g
	METHOD = SPECTRUM_COUNT
	
	[SPECTRUM_COUNT]
	# Ignored if QUANTIFICATION METHOD is not SPECTRUM_COUNT
	# If left blank will be replaced with default
	# Please check documentation for more detail
	SCORE_TRESHOLD = 7.0
	ERROR_TRESHOLD = 20
	FDR = 0.01
	ITERATION = 5000
	
	[ITRAQ4]
	# Ignored if QUANTIFICATION METHOD is not ITRAQ4
	# If left blank will be replaced with default
	# Please check documentation for more detail
	EVALUE_TRESHOLD = 75
	pNA = 0
	# QUANTIFICATION_METHOD: / trapezoidation / max / sum / SI / SIgi / SIn / SAF / NSAF / count 
	# *CASE SENSITIVE* 
	QUANTIFICATION_METHOD = trap
	COMBINE_BY = mean
	